<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
version="2.1">

<persistence-unit name="ratwsserver" transaction-type="RESOURCE_LOCAL">

<provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
    <class>com.dgr.rat.auth.db.User</class>
    <class>com.dgr.rat.auth.db.UserRole</class>
    <class>com.dgr.rat.auth.db.Role</class>
    <class>com.dgr.rat.auth.db.Domain</class>
    <class>com.dgr.rat.auth.db.UserDomains</class>
    <class>com.dgr.rat.auth.db.DomainRole</class>
    
<properties>
  <property name="openjpa.ConnectionURL" value="jdbc:mysql://localhost:3306/ratwsserver"/>
  <!-- property name="openjpa.ConnectionDriverName" value="com.mysql.jdbc.Driver"/> -->
  <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
  <property name="openjpa.ConnectionUserName" value="admin"/>
  <property name="openjpa.ConnectionPassword" value="admin"/>
  <property name="openjpa.DynamicEnhancementAgent" value="true"/>
  <property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
  <property name="openjpa.Log" value="SQL=TRACE"/>
  <property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=true, MaxActive=10, MaxIdle=5, MinIdle=2, MaxWait=60000"/>

        <property name="openjpa.jdbc.DBDictionary" value="org.apache.openjpa.jdbc.sql.MySQLDictionary"/>
        <property name="openjpa.DataCache" value="true"/>
        <property name="openjpa.QueryCache" value="true"/>
        <!-- <property name="openjpa.jdbc.SynchronizeMappings" value="buildSchema(ForeignKeys=true)"/> -->
</properties>
 
</persistence-unit>
 
</persistence> 

<!--  
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ratwsserver</property>
        <property name="hibernate.current_session_context_class">thread</property>
   <property name="hibernate.connection.username">admin</property>
   <property name="hibernate.connection.password">admin</property>
-->
      <!--   
   <property name="hibernate.c3p0.min_size" value="5" />
    <property name="hibernate.c3p0.max_size" value="20" />
    <property name="hibernate.c3p0.timeout" value="500" />
    <property name="hibernate.c3p0.max_statements" value="50" />
    <property name="hibernate.c3p0.idle_test_period" value="2000" />
-->
        <!-- Mapping with model class containing annotations -->
<!--   
    <mapping class="com.dgr.rat.auth.User"/>
    <mapping class="com.dgr.rat.auth.UserRole"/>
    
    </session-factory>
</hibernate-configuration>
-->
