#commentWnd
{
   width:500px;
   height:330px;
   margin-top:100px;
   background-color:#585858;
   border-radius:3px;
   box-shadow:0px 0px 10px 0px #424242;
   padding:10px;
   box-sizing:border-box;
   font-family:helvetica;
   visibility:hidden;
   display:none;

  position:fixed;
  z-index: 100;  
  top:50%;  
  left:50%;  
  margin:-100px 0 0 -100px;  
}

#commentWnd #url
{
   width:450px;
   height:30px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}

#commentWnd #title
{
   margin-top:5px;
   width:450px;
   height:30px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#commentWnd #edit-box
{
   margin-top:5px;
   width:450px;
   height:200px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
resize: none;
}
#commentWnd #saveComment #closeComment
{
   margin-left:-5px;
   margin-top:10px;
   width:250px;
   height:40px;
   border:none;
   border-radius:3px;
   color:#E6E6E6;
   background-color:grey;
   font-size:20px;
}



