  /*body {
    margin:0; padding:0;
    font:.75em/1.5 sans-serif;
    }

  h4  {
    font-size: 1em;
    }*/

  .column-in {
    margin:0; padding:10px;
    }

  .cleaner {
    clear:both;
    height:1px;
    font-size:1px;
    border:none;
    margin:0; padding:0;
    background:transparent;
    display:none;
    }

  /* THE DIV TO TABLE TECHNIQUE */

  #container {
    width: 80%;
    padding:0;
    display: table;
    border: 1px solid black;
    }

  #row  {
    display: table-row;
    }

  #left {
    /*width:150px;*/
	width: 19%;
    padding:0;
    /*background: #EEF;*/
    display: table-cell;
    /*background:yellow url("red.gif") top left repeat-y;*/
    }

  #right {
    /*width:150px;*/
	width: 99%;
    /*background:#FEE;*/
    display: table-cell;
    /*background:#FEE url("blue.gif") top right repeat-y;*/
    }

  #middle {
    padding: 10px;
    /*background:yellow;*/
    display: table-cell;
    }


.blocks {
    display: inline-block;
    border: solid 1px red;
    width: 100px;
}
.wrap{
    width:210px;
float: left;
}
